
	
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							ROOTED IN TRADITION, GROWING TOWARDS TOMORROW
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Our online shop is a testament to the timeless beauty of nature blended with today's digital world. For generations, we've cherished the art of nurturing plants, understanding their rhythm, and appreciating their uniqueness. 
							Now, we bring this rich legacy to your fingertips. Browse our curated selection of plants, each one carefully tended and ready to thrive in your space. Whether you're a seasoned gardener or just beginning your green journey, our collection caters to every plant enthusiast. 
							Let's grow together, honoring the traditions of the past while embracing the possibilities of tomorrow.
						</p>

						

						<p class="stext-113 cl6 p-b-26">
							Any questions? Let us know in store at 361, ROAD NO-8, VIVEKANANDA NAGAR,
	
				         
						KUKATPALLY<br>
						684493<br>
						 BENGALURU<br>
						INDIA<br>
						
						9700885740
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="assets/images/planaplant2.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							VISION
						</h3>

						<p class="stext-113 cl6 p-b-26">
							
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								To bridge the wisdom of ancient botanical traditions with the convenience of modern digital shopping, fostering a world where plants and people thrive in harmony. We envision a future where every home is touched by the natural beauty and health benefits of plants, and where every purchase supports sustainable and responsible gardening.
							</p>

							<!-- <span class="stext-111 cl8">
								- Steve Job’s 
							</span> -->
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="assets/images/planaplant5.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
		

	
	







































	
