<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
             <div class="col-md-5">
                <section class="content-main mt-80 mb-80">
                    <div class="card mx-auto card-login">  
                        <div class="card-body">
                            <h4 class="card-title mb-4">Sign in</h4>
                            <% if(typeof adminCheck !=='undefined' ) { %>
                                <div class="alert alert-danger fade show mt-0" id="message" role="alert">
                                    <%- adminCheck %>
                                </div>
                                <% } %>
                                    <form action="#" method="post">
                                        <div class="mb-3">
                                            <input class="form-control" placeholder="email" type="email"
                                                id="form1Example13" name="email" value="admin@gmail.com">
                                        </div> <!-- form-group// -->
                                        <div class="mb-3">
                                            <input class="form-control" placeholder="Password" type="password"
                                                id="form1Example23" name="password" value="admin123">
                                        </div> <!-- form-group// -->
                                        <div class="mb-4">
                                            <button type="submit" class="btn btn-primary w-100"> Login </button>
                                        </div> <!-- form-group// -->
                                    </form>

                        </div>
                    </div>
                </section> 
            </div> 
        </div>
    </div>
</body>